.contact{
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
    color: black;
    padding: 8px 16px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 8px;
    border: 1px solid white;
    filter: blur(1.0px);
    width: 240px;
}

.contact:hover{
    transition: ease-in-out all 1s;
    filter: blur(0);
    cursor: pointer;
    border: 1px solid black;
}

.contact img {
    width: 32px;
    height: 32px;
}