.contacts{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact{
    
    padding: 8px 16px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 8px;
    border: 1px solid white;
    /* filter: blur(1.0px); */
    width: 240px;
}

.contact a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.contact:hover{
    transition: ease-in-out all 1s;
    /* filter: blur(0); */
    cursor: pointer;
    border: 1px solid black;
}

.contact img {
    width: 32px;
    height: 32px;
}