.formacao{
    margin: 32px 0;
    padding: 4px 0px 8px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

    margin-left: auto;
    margin-right: auto;

    
    border-left: 1px solid black;
}

.curso{
    padding: 0px 30px;
    text-align: start;
    font-size: 32px;
    display: block;
    width: 50%;
}

.ano{
    padding: 0px 30px;
    text-align: end;
    font-size: 32px;
    display: block;
    width: 40%;
}

.cidade{
    padding: 0px 30px;
    text-align: end;
    font-size: 32px;
    width: 30%;
}

.faculdade{
    font-weight: bolder;
    text-align: start;
    padding: 0px 30px;
    font-size: 32px;
    width: 50%;
}