.formacao{
    margin: 32px auto;
    padding: 4px 0px 8px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

    margin-left: auto;
    margin-right: auto;

    
    border-left: 1px solid black;
}

.curso{
    font-weight: bolder;
    padding: 0px 30px;
    text-align: start;
    font-size: 32px;
    display: block;
    width: 50%;
}

.ano{
    padding: 0px 30px;
    text-align: end;
    font-size: 32px;
    display: block;
    width: 30%;
}

.cidade{
    padding: 0px 30px;
    text-align: end;
    font-size: 32px;
    width: 30%;
}

.faculdade{
    text-align: start;
    padding: 0px 30px;
    font-size: 32px;
    width: 50%;
}

.conteudos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 0px 30px;
    width: 100%;
}

.conteudo{
    display: inline-flex;
    align-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    padding: 8px;
    font-size: 20px;
    /* border: 1px solid red; */
}
